In [1]:
print ("hello, world!")

hello, world!

In [2]:
print("pakistan")

pakistan

In [3]:
print("this is python")

this is python

In [4]:
name = "daniyal"
print(name)

daniyal

In [5]:
country = "pakistan"
print(country)

pakistan

In [6]:
statement = "my name is daniyal"
print(statement)

my name is daniyal

In [7]:
weight = 250
weight + 50

300

In [8]:
A=33
B=33+7
print(B)

40

In [9]:
print(weight)

250

In [10]:
total=weight+B
print("total =")
print (total)

total =
290

In [11]:
X = input ("write 1st number")
Y = input ("write 2nd number")
X = int (X)
Y = int (Y)
Z = X+Y
print (Z)

write 1st number6
write 2nd number7
13

In [13]:
X = int (input ("write 1st number"))
Y = int (input ("write 2nd number"))
Z = X+Y
print (Z)

write 1st number7
write 2nd number7
14

In [ ]:
weight = 3
B = 2
total=weight+B
print("total =" , total )

In [ ]:
number = int (input())


if number >= 5:
    print("number is greater than or equal to 5")
else:
    print("number is less than 5")

In [ ]:
a = input("write your name: ")
print (a)

In [ ]:
a = input("write the first number")
b = input("write the second number")
c = a + b
print (c)

In [ ]:
x = int (input("write the first number"))
y = int (input("write the second number"))
z= x+y
print(z)

In [ ]:
x = int (input("1st number: "))
y = int (input("2nd number: "))
z = x * y
print (z)

In [ ]:
A = int (input("write a number : "))

if A >=10:
    print("the number is greater than or equal to 10")
else:
    print("the number is less than 10")

In [ ]:
#remainder function
A = 29 % 12

print (A)

In [ ]:
age = 4
age += 1
print(age)

In [ ]:
print(age)

In [ ]:
age +=5
print (age)

In [ ]:
age -=10
print (age)

In [ ]:
number = int (input("write a number : "))

In [ ]:
age += number
print (age)

In [ ]:
age -= 13
print (age)

In [ ]:
age += number
print (age)

In [ ]:
number = int (input("write a number"));
age += number
print (age)

greeting=hello

In [ ]:
greeting = "Hello"
adressee= "World"
punctuation= "  "

In [ ]:
#Concatenation example

welcome = greeting + punctuation + adressee

In [ ]:
print(welcome)

In [ ]:
print("the sum of 2 + 2 is" , 4)

In [ ]:
print ("Hello \n world")

In [ ]:
year= int(input("Enter Year : "))
if year % 4 == 0:
    print(year," is leap Year ")
else:
    print(year," is Not a Leap Year")

In [ ]:
#to convert and get the type of a variable
x= "99"
y= int (x)
print (y)
type (y)

In [ ]:
z = str(y)
type (z)

In [ ]:
#bool data type
i = bool(y)
type (i)

In [ ]:
print(i)

In [ ]:
#Associativity of assignment operator is from right to left
x = 1
y = 2
z = x = y =3
print (x)
print (y)
print (z)

In [ ]:
#program for even or odd
x = int(input("input a number "))

if x % 2 == 0:
        print("the number is even")
else:
        print("the number is odd")

In [ ]:
a = int (input ())
if a > 0:
    print ("positive")
elif a < 0:
        print ("negative")
else:
            print("number is 0")

In [ ]:
#power is done first
x = 3
y = x**2*3
y

In [ ]:
#concatenation
str1 = "Hello"
str2 = " World"
str3 = str1 + str2
print (str3)

In [112]:
#convert number to string
str1 = "Hello "
str2 = str(45)
str3 = str1 +str2
print (str3)

Hello 45

In [ ]:
#any value is print, it is true
if "hello":
    print ("if")
else:
    print("else")

In [ ]:
#grade calculation program
marks = int(input("entre marks "))

if marks >= 0 and marks <=100:
    
    if marks >=90 and marks <= 100:
        print ("A grade")
    elif marks >= 80 and marks <=89:
        print ("B grade")
    elif marks >= 70 and marks <=79:
        print ("C grade")
    elif marks >= 60 and marks <=69:
        print ("D grade")
    else:
        print("fail")
    
else:
    print("invalid marks")

In [ ]:
#vowel or consonant programs

str1 = input ("entre letter : ") . lower()

# .lower converts input to lower case

if str1 == "a" or str1 == "e" or str1 == "i" or str1 == "o" or str1 == "u":
    print("vowel")
else:
    print("consonants")

# Listing

In [113]:
#This is listing funtion

cities = ["Karachi", "Quetta", "Peshawar"]
print(cities[0])
print(cities[1])
print(cities[2])

Karachi
Quetta
Peshawar

In [ ]:
#appending option (insert the string in last)
cities.append('Pakistan')

In [ ]:
print(cities)

In [ ]:
# insertting function (inserts in desired position)

cities.insert(1,"Lahore")

In [ ]:
print(cities)

In [ ]:
#slicing function

cities [1:4]

In [ ]:
cities [:2]

In [ ]:
cities[2:]

In [ ]:
cities[3]

In [ ]:
cities[:]

In [ ]:
#slicing returns a copied list

y = cities

In [ ]:
#here y also refers to cities

y . append("Islamabad")
print(cities)

In [ ]:
#now adding in just one

y = cities[:]
y.append("sydney")

print (cities)

print(y)

In [ ]:
#1 starting point
#2 ending point
#3 stepsize

y[0:7:2]

In [ ]:
#to start from the ending
y[::-1]

In [ ]:
#loop on list


for i in cities:
    print (i)
    
#i in means to get each thing of cities one by one and put it in i

In [ ]:
#for length of each letter on list

for i in cities:
    print (len(i) , i)

In [ ]:
str1 ="Hello World"
str1[1:6]

In [ ]:
str1[::-1]

In [ ]:
for i in str1:
    print(i)

In [ ]:
str1[0::2]

In [ ]:
#for counting something in a loop

counter = 0

for i in str1:
    if i in['a', 'e', 'i', 'o', 'u']:
        counter +=1
        
    
print(counter)

In [ ]:
#for counting something in a loop

counter = 0

for i in str1:
    if i in"aeiou":
        counter +=1

        
print(counter)

In [ ]:
#to delete  an entry from list

del cities [2]
cities

In [ ]:
cities.remove("islamabad")
cities

In [ ]:
#to add list in a list
cities += ["multan", "kotri"]
cities

In [ ]:
city = cities.pop(4)
city

In [ ]:
city

In [ ]:
#range function
for i in range(20,0,-1):
    print(i)

In [ ]:
#printing even numbers from 1 to 1000
for i in range(0,101,2):
    print(i)

In [ ]:
#functions
def addition():
    number1 = 4
    number2 = 2
    print(number1+number2)

In [ ]:
addition()

In [ ]:
#taking numbers as parameters
def func2(num1, num2):
    print(num1 + num2) 

    #passsing argument

func2(5,7)

In [ ]:
func2(2,2)

In [ ]:
#returning a function
def func3(num1, num2):
    return num1 + num2

In [ ]:
output = func3(5,5)

In [ ]:
print (output)

In [ ]:
output2 = func3(9,16)
print(output2)

In [ ]:
num1 = int(input("entre num1: ")) 
num2 = int(input("entre num2: ")) 
output3 = func3(num1, num2) 
print(output3)

In [ ]:
#calculator program
def add(n1, n2):
    return n1+n2
    
def mul(n1, n2):
    return n1*n2

def sub(n1, n2):
    return n1-n2

def div(n1, n2):
    return n1/n2

In [ ]:
n1 = int(input("entre 1st number: ")) 
n2 = int(input("entre 2nd number: ")) 
op = input("input your required operation : \n (1)add \n (2)mul \n (3)sub \n (4)div ")

if op == '1':
    output = add(n1, n2)
    print(output)
    
elif op == "2":
    output = mul(n1, n2)
    print(output)

elif op == "3":
    output = sub(n1, n2)
    print(output)

elif op == "4":
    output = div(n1, n2)
    print(output)

else:
    
    print("invalid input or operator")

In [ ]:
def numfunc(a, b):
    print(a)
    print(b)

In [ ]:
#positional arguments
numfunc(3,4)

In [ ]:
#keyword argument
numfunc(b = 15, a = 8)

In [ ]:
numfunc(a = 15, b = 8)

In [ ]:
#default values
#taxrate is optional
def calc_tax(sales_total, tax_rate=.04):
    print(sales_total * tax_rate)

In [ ]:
calc_tax(10000, 0.1)

In [ ]:
calc_tax(10000)

In [ ]:
#positional and fixed arguments
def optional_args(a , b=15):
    print('a = ', a)
    print('b = ', b)

In [ ]:
#ways an argument can be called
optional_args(a=10)
optional_args(17)
optional_args(b= 3,a = 13)
optional_args(20, b = 13)
optional_args(a = 13, b =5)
optional_args(5,40)

In [ ]:
#double * makes a dictionary
def numfun(x, **others):
    print(x)
    print(others)

In [ ]:
numfun('x', arg1=15 , arg2=145, b="fdada", y=78, z="asd")

In [ ]:
#word function, taking function of teams

In [ ]:
def worldcup(**teams):
    print(teams)

In [ ]:
worldcup (pakistan="2 points", england="4 points", westindies="3 points", sirilanka="6 points", bangladesh="5 points")

In [ ]:
#handling n numbers or arguments
def teams(**a):
    print(a)
    print(a.keys())
    print(a.values())
    
teams(pak = 10, india = 11, westindies=58)

In [ ]:
#argument handling through tuples
def f(*args):
    print(args)
    
f(23, 'asd', 34, 'aaa')

In [ ]:
##Local and global variables

In [ ]:
x=13
def func1():
    x= 23
    print('local x=', x)
    
func1()
print('global x=', x)

In [ ]:
#call by value 

def function3(x):
    x+=1
x=3
function3(x)
print(x)

In [ ]:
def function3(x):
    return x+1
x=3
x= function3(x)
print(x)

In [ ]:
#call by reference
def func4(l):
    l.append('hello')
    
l=[]
func4(l)
print(l)

In [ ]:
#functions as variables
x = func4
x(l)
print(l)

In [ ]:
#function within function
def message():
    print("function completed")
    def x():
        print('x')
    x()
message()

In [ ]:
while user_input !='q':
    user_input= input('entre a city or q to quit:'))

In [ ]:
def inv(word):
    en=False
        while(not en)
        word= input("entre word = ")
        print(word[::-1])
        if(word=="q"):
            en=True
        print('quit') 
inv()

In [ ]:
def inv():
    while True:
        word= input("entre word = ")
        print(word[::-1])
        if(word=="q"):
            break
    print('Quit')
inv()

In [ ]:
a=' '
while a!= 'q':
    a= input('entre something: ')
    print(a[::-1])

In [ ]:
##OOP

In [ ]:
#oop class
class student:
#self is an implicit object
    def __init__(self, name , age):
        self.name = name
        self.age = age
    def tostudy(self):
        print(self.name, 'is studying')

#a is object
a = student('usman', 23)
b = student('ali', 20)
c = student('ahsan', 26)

In [ ]:
print(a.name, a.age)

In [ ]:
a.tostudy()

In [ ]:
#make a human class with name height weight and behavious with fasting
class human:
    def __init__(self, name, height, weight):
        self.name = name
        self.height = height
        self.weight = weight
    def tofast(self):
        print(self.name, 'is fasting')
        
x = human('ali', 6, 65)
y = human('mushahid', 5, 60)
z = human('owais', 6, 70)

In [ ]:
print(y.name, y.height, y.weight)

In [ ]:
y.tofast()

# 16-Jun-2019

## program for prime number

In [ ]:
x = int(input("entre a number"))
if x % 2 == 0:
    print(x , "the number is a prime number")
else:
    print(x , "the number is not a prime number")

In [ ]:
num = int(input("entre a number"))

if num < 2:
# "i" value is increasing, going from "2" to the num
    for i in range(2,num):
        if (num % i) == 0:
            print(num,"is not a prime number")
            break
else:
 print(num,"is a prime number")

# Methods
# revising, defining function

In [ ]:
#def for defining a function

def func():             #taking no argument
    var = 1
    var1 = 2
    print(var+var1)

In [ ]:
def func1(var2 = 2): #function header    #defined default value for var2
    print(var2)      #function body

In [ ]:
func1(23)

In [ ]:
#keyword arguments
def func(var1, var2):

    print(var1+var2)

In [ ]:
func(var1=5, var2=3)

# ** deals as a dictionary
# * deals as a tuple

#### types of function:
    accept and return
    accept and doesnt return
    doesnt accept doesnt return
    doest accept but return

In [ ]:
def x(**a):
    print(a)

In [ ]:
x {'book':100,'copies':20,'pencil':5}
dic = x
print(dic)

In [ ]:
def y(*b):
    print(b)

In [ ]:
y(1,2,3)

# calculator to calculate natural numbers through function

In [ ]:
def natural(start,end):
    print(list(range(start,end+1)))  # range=makes a list
natural(1,100)

# calculator to calculate odd numbers through function

In [ ]:
def odd(start,end):
    if start % 2 == 0:
        start+=1
    num = list(range(start,end+1,2))
    print(num)
odd(1,101)

# calculator to calculate even numbers through function

In [ ]:
def even(start,end):
    if start % 2 == 1:
        start+=1                  # to +1 if the starting number is odd
    num = list(range(start,end+1,2))
    print(num)
even(1,100)

# calculator to calculate prime numbers through function

In [ ]:
def is_prime(num):
    for i in range(2,int((num/2)+1)):  #we can check the limit till half if we want to check prime e.g:7, we can check till 4
        if num%i == 0:
            return False
    return True
print(is_prime(9))

In [ ]:
def primenum(start,end):
    prime = []
    for i in range(start,end+1):
        if i == 1:
            continue
        if is_prime(i):
            prime.append(i)
    print (prime)
primenum(1,100)

In [ ]:
def print_number():

    print("1:natural number")
    print("2:odd number")
    print("3:even number")
    print("4:prime number")
    choice = int(input("entre your choice"))
    a = int(input("entre 1st number"))
    b = int(input("entre 2nd number"))


    if choice ==1 :
        natural(a,b)
    elif choice ==2:
        odd(a,b)
    elif choice ==3:
        even(a,b)
    elif choice ==4:
        primenum(a,b)
        
        
cont = 'y'
while(cont == 'y'):
    print_number()
    cont = input('do you want to continue (y/n): ')

# 30-Jun-19

In [ ]:
class Student():
    def __init__(self, Id, Name):
        self.Id = Id
        self.Name = Name
    
    def study(self):
        print(selfName, "is studying")

In [ ]:
class AIStudent(Student):
    def __init__(self, Id, Name, CorseraID):
        super().__init__(Id, Name)
        self.CorseraID = CorseraID
    
    def study(self):
        print("Python, OOP, Tensorflow")

In [ ]:
class Blockchain(Student):
    def __init__(self, Id, Name, CryptoID):
        super().__init__(Id, Name)
        self.CryptoID = CryptoID
    
    def study(self):
        print("Cryptography, Smart Contacts, Solidity")

In [ ]:
class Cloudcomputing(Student):
    def __init__(self, Id, Name, Amazon_ID):
        super().__init__(Id, Name)
        self.Amazon_ID = Amazon_ID
    
    def study(self):
        print("Linux, Dockers, Kubernetes")

In [ ]:
aI_student = AIStudent(123 , "daniyal", "cs123")
aI_student.study()

In [ ]:
student = Cloudcomputing("5445" , "daniyal", "9889")
student.study()

In [ ]:
ali = Blockchain ("0000", "haris", "1023")
ali.study()

In [ ]:
class Shape():
    def __init__(self, colour, sides):
        self.color = colour
        self.sides = sides
    
    def Draw(self):
        print("sgs")

In [ ]:
class Triangle(Shape):
    def __init__(self, colour, sides):
        super().__init__(colour, sides)
    
    def Draw(self):
        print("Triangle is being drawn")

In [ ]:
T = Triangle("red", 3)

# I/O input output
## to read write in file

In [ ]:
with open('abc.txt', 'w') as f:      #we also define the file mode to be opened(read/write etc)   Then saving it
    f.write("Hello World")            # "f" is the file handle

Now you can go and see the file in file manager

## Append

In [ ]:
with open('abc.txt', 'a') as f:       #f is the variable name, for reference as we go on
    f.write('AOA')                    # w means write, a means append

## Read

In [ ]:
with open('abc.txt', 'r') as f:        #r for read
    print(f.read())                             #with open starts and opens the file untill we dont get out of indent

### without "with"

In [ ]:
f = open('abc.txt', 'r')
print(f.read())
f.close()            #to dispose or close the file  ( this is immportant without using "with")

# ____ _  ____ _________________ __________ _______________ _________ _____ ________ __________ ______ __ ____    _____________  __________________  _____________

pycharm can also be used for python
python file extension is .py

#### making a program in pycharm or idle

save the file in the same directory

now we want to use that file here

In [ ]:
import calculator                            #import is done with the file name

In [ ]:
calculator.add(3,4)                # makes all the methods available

In [ ]:
import calculator as c                   #to change its name, for short name   (as does "aliasing")

In [ ]:
c.sub (4, 2)                       # . tab to show all the methods

In [ ]:
from calculator import mul                    # to just import the multiplication method

In [ ]:
mul(4,5)

In [ ]:
from calculator import mul,add
mul(4,5)
print((add(8,2)))

## Assignment
get the user's                   student.id, name, cgpa
    get it and put it into a file
    put it on loop

In [ ]:
def write():                                            #we can read and write lists
    id = input("Id: ")
    name = input("Name: ")
    cgpa = input("CGPA: ")                                      
    with open ('test.csv', 'a') as f:                          # csv for excel
#f.write is for aliasing                     #file opens append data and closes again and again
        f.write(id + ", " + name + ", " + cgpa  + "\n")           # .csv we can open comma seperated values in excel

In [ ]:
for i in range(0,5):    
    write()

### We can use these datas for kaggle etc

In [ ]:
import csv                            #csv module is in python by default
data = []
with open("test.csv") as f:
    contents_of_file = csv.reader(f)               #reader method is also available
    for each_line in contents_of_file:          #reads the contents
        data += each_line
print(data)

In [ ]:
import csv
data = []
with open("test.csv") as f:
    contents_of_file = csv.reader(f)
    for each_line in contents_of_file:
        print (each_line)

In [ ]:
import csv
data = []
with open("test.csv") as f:
    contents_of_file = csv.reader(f)
    for each_line in contents_of_file:
        print (each_line[0], each_line[1], each_line[2])                          # for line wise printing

In [ ]:
with open("test.csv") as f:
    data = f.readlines()                       #reads all the data in file
    
    for each_line in data:                           #each line is a variable
        print (each_line.split(','))                            #split all the data with a comma
        #\n is coming because we want to change the line

#### another method to write the file

In [ ]:
with open("abc.csv", "w", newline="") as f:                                 #give the file name and switch
    data_handler = csv.writer(f, delimiter=",")                           #delimiter can also be |
    data_handler.writerow (["year" , "Event", "Winner"])                   #writerow method add new line
    data_handler.writerow (["1995" , "fgsgs", "none"])
    data_handler.writerow (["1928" , "fgsfd", "dyjd"])

# 08-July-2019

## Filing Revision

In [ ]:
with open("abc.txt", "w") as f:
    f.write("Test program")

In [ ]:
import calculator

In [ ]:
calculator.add(4,6)

In [ ]:
#for importing selective method
from calculator import mul

In [ ]:
mul(4,5)

# New Class

 make a class in idle
 named as "student.py"
 Make a class in it

In [14]:
#importing that file and class
from student import Student

In [16]:
std = Student()
std.enroll()

enrolled

 ### Assignment:Make a Class for a shape

In [ ]:
from shape import rectangle
abc = rectangle()
abc.sides()
abc.color()

# writing a csv file

In [17]:
import csv

In [19]:
with open('student.csv', 'w', newline = '') as st: 
    a = csv.writer(st, delimiter = ',')
    a.writerow(['noman', '22', '3.7'])
    a.writerow(['mustaqeem', '20', '3.2'])
    a.writerow(['ali', '23', '3.0'])

# reading a csv file

In [20]:
with open('student.csv', 'r') as st:
    a = csv.reader(st)
    for line in a:
        print(line)

['noman', '22', '3.7']
['mustaqeem', '20', '3.2']
['ali', '23', '3.0']

### Assignment
make a file with student details 
above 3 gpa = pass 
other wise fail

In [21]:
import csv
with open('gpa.csv', 'w', newline = '') as gp: 
    b = csv.writer(gp, delimiter = ',')
    b.writerow(['noman', '22', '3.7'])
    b.writerow(['mustaqeem', '20', '2.2'])
    b.writerow(['ali', '23', '2.0'])

In [26]:
with open('gpa.csv', 'r') as gp:
    b = csv.reader(gp)
    for condition in b:
        print(condition, end = ' ')    # to give a space after the printed command
        if float(condition[2]) > 3:
              print('pass')
        else:
            print('fail')

['noman', '22', '3.7'] pass
['mustaqeem', '20', '2.2'] fail
['ali', '23', '2.0'] fail

In [27]:
with open('gpa.csv', 'r') as gp:
    b = csv.reader(gp)
    for condition in b:
        if float(condition[2]) >= 3:
            print('pass')
        else:
            print('fail')

pass
fail
fail

Print world cup point table
tema name, no of matches, points

if more than 12, go to worldcup
if less than 12, out of worldcup

In [66]:
import csv
with open('worldcup.csv', 'w', newline = '') as wc: 
    c = csv.writer(wc, delimiter = ',')
    c.writerow(['Team', 'Matches Played', 'Points'])
    c.writerow(['India', '3', '16.2'])
    c.writerow(['Bangali', '3', '15.3'])
    c.writerow(['Indies', '4', '14.2'])
    c.writerow(['Pak', '5', '8.4'])

In [67]:
with open('worldcup.csv', 'r') as wc:
    c = csv.reader(wc)
    next(c)                                    #to skip 1st line
    for points in c:
        print(line, end = ' ')
        if float(points[2]) >= 12:
            print('go to worldcup')
        else:
            print('not qualified')

['ali', '23', '3.0'] go to worldcup
['ali', '23', '3.0'] go to worldcup
['ali', '23', '3.0'] go to worldcup
['ali', '23', '3.0'] not qualified

# JSON = Javascript Object Notation
JSON has become a standard, is light weight

In [39]:
import json                                   #writing a json file
alphabet_letters = ['a', 'b', 'c', 'd']
with open("alphabet_list.json", "w") as f:
    json.dump(alphabet_letters, f)

In [42]:
with open("alphabet_list.json", "r") as f:       #reading a json file
    obj = json.load(f)
    print(obj)

['a', 'b', 'c', 'd']

In [ ]:
'''
             txt     csv         json

read        read()   reader()       load()
 
write       write()   writer()       dump()

'''

In [43]:
for i in range(-10, 10):
    print(5/i)

-0.5
-0.5555555555555556
-0.625
-0.7142857142857143
-0.8333333333333334
-1.0
-1.25
-1.6666666666666667
-2.5
-5.0

ZeroDivisionError: division by zero

# TRY and ACCEPT Methods

In [44]:
for i in range(-10, 10):
    try:
        print(5/i)
    except ZeroDivisionError:
        print("division by zero")

-0.5
-0.5555555555555556
-0.625
-0.7142857142857143
-0.8333333333333334
-1.0
-1.25
-1.6666666666666667
-2.5
-5.0
division by zero
5.0
2.5
1.6666666666666667
1.25
1.0
0.8333333333333334
0.7142857142857143
0.625
0.5555555555555556

In [46]:
for i in range(-10, 10):
    try:
        print(5/i)
    except Exception as e:               #generalized exception
        print("division by zero")

-0.5
-0.5555555555555556
-0.625
-0.7142857142857143
-0.8333333333333334
-1.0
-1.25
-1.6666666666666667
-2.5
-5.0
division by zero
5.0
2.5
1.6666666666666667
1.25
1.0
0.8333333333333334
0.7142857142857143
0.625
0.5555555555555556

In [55]:
try:
    print(5 / 0)
except Exception as e:             
    print(e)
finally:
    print("Finally block")

division by zero
Finally block

In [54]:
try:
    print(5/3)
except Exception as e:             
    print(e)
finally:
    print("Finally block")

1.6666666666666667
Finally block

try =  chances od error
except = to ignore

In [69]:
l1 = ['abc', 'fad', 'pod']
try:
    print(5/3)
    print(l1[3])
except ZeroDivisionError:
    print('zero divsion error')
except IndexError:
    print('index error')
finally:
    print('finally block')

1.6666666666666667
index error
finally block

In [60]:
l1 = ['abc', 'fad', 'pod']
try:
    print(5/3)
except ZeroDivisionError:
    print('zero divsion error')
else:
    print('no error')
finally:
    print('finally block')

1.6666666666666667
no error
finally block

In [61]:
l1 = ['abc', 'fad', 'pod']
try:
    print(5/0)
except ZeroDivisionError:
    print('zero divsion error')
else:
    print('no error')
finally:
    print('finally block')

zero divsion error
finally block

In [63]:
for i in range(0,10):
    print(i)
else:
    print(i)

0
1
2
3
4
5
6
7
8
9
9

In [71]:
try:
    x= int(input('write a number'))
    
except ValueError:
    print("write a number :")

write a numberdf
write a number

# 14-July-19

### PYDOC

In [1]:
import re                      #regular expression
re.compile("[0-9]+")

re.compile(r'[0-9]+', re.UNICODE)

In [3]:
import re
m = re.search('(?<=abc)def', 'abcdef')
m.group(0)

'def'

# lambda function

In [4]:
y = lambda a : a**0.5

In [5]:
y(2)

1.4142135623730951

In [7]:
x,y = [1, 2]
print(x)
print(y)

1
2

In [16]:
_, y = [1, 2]
print(y)
print(_)

2
1

# default funtions

In [26]:
# default dictionary
from collections import defaultdict
f = defaultdict(int)

In [27]:
f = ['x']

In [28]:
f.keys()

AttributeError: 'list' object has no attribute 'keys'

In [29]:
f.x

AttributeError: 'list' object has no attribute 'x'

In [ ]:
s = defaultdict[]

In [30]:
from collections import Counter

c = Counter([0, 2, 4, 6, 0, 2, 2])

In [31]:
c

Counter({0: 2, 2: 3, 4: 1, 6: 1})

In [32]:
d = Counter(['Hello', 'World', 'Hello', 'PIAIC'])

In [34]:
d

Counter({'Hello': 2, 'World': 1, 'PIAIC': 1})

In [35]:
e = Counter("Hello")            #converts to list

In [36]:
e

Counter({'H': 1, 'e': 1, 'l': 2, 'o': 1})

In [37]:
s = "Hello"
list(s)                      #to convert to list

['H', 'e', 'l', 'l', 'o']

### set =  is like list but doesnt duplicate

In [38]:
x = False
if x == None :
    print("in if")
else:
    print("in else")

in else

In [39]:
x = 'False'
if x :
    print("in if")
else:
    print("in else")

in if

In [40]:
bool (None)

False

In [41]:
bool (6)

True

In [42]:
len([None])

1

In [171]:
x = [9, 4, 5, 6, 7, 8]
sorted(x)
x

[9, 4, 5, 6, 7, 8]

In [172]:
x.sort()               # in memory
x

[4, 5, 6, 7, 8, 9]

# Lambda expressions

In [47]:
expression = lambda x,y : x + y

In [48]:
expression(3,4)

7

# 21-July- 2019

### File modes

In [2]:
with open('Pakistan.txt', 'x') as file:         #only creates a new file
    file.write("Hello")

In [3]:
with open('Pakistan.txt', 'x') as file:
    file.write("Hello")

FileExistsError: [Errno 17] File exists: 'Pakistan.txt'

In [5]:
with open('Pakistan.txt', 'rt') as file:     #opens in text mode
    print(file.read())

Hello

In [7]:
with open('Pakistan.txt', 'rb') as file:          #opens in binary mode
    print(file.read())

b'Hello'

In [8]:
with open('Pakistan.txt', 'r+') as file:     #for reading and writing both modes
    print(file.read())                        # r+ appends
    file.write('World')                      # this is used for both functions

Hello

In [9]:
with open('Pakistan.txt', 'w+') as file:     #for reading and writing both modes
    file.write('Again')                              # Oaverwrites
    print(file.read())                            # w+ empties the file

# Modules

### random module

In [11]:
import random as r                      # r is the reference
# for random number between 0 and 1
# this is not truely random but psuedo random
print(r.random())                       # method

0.060888291509774706

In [13]:
# for numbers from 50 to 60
print(r.random()*10+50)

56.904397346034116

In [15]:
#start and both are included
b = r.randint(50, 60)
print(b)

55

In [22]:
# start and end are not included
c = r.randrange(50, 60)
print(c)

50

In [21]:
# end exclusive
d = r.uniform(50, 60)
print(d)

57.940015420870985

In [24]:
# shuffle function
list1 = ["a", "b", "c", "d"]
r.shuffle(list1)                    # this is in memory operation, doesn't return
print(list1)               # only list can be shuffled

['a', 'c', 'b', 'd']

In [29]:
list1 = ["a", "b", "c", "d"]
a = r.sample(list1, 2)                    # this is in memory operation, this also returns
print(a)                             # after 'comma' is the number of samples

['b', 'a']

### Math module

In [32]:
import math as m

num1 = 45.0001
print(m.ceil(num1))                              # gets upper closest integer

46

In [34]:
num2 = 45.99
print(m.floor(num2))                                   # gets lowerr closest integer

45

In [35]:
num4 = -5                         # float asolute value
print(m.fabs(num4))                            # removes sign and converts to float

5.0

In [37]:
x = 8                        # default base is e
m.log(x, 2)                          # square brackets in a document tells that the portion is optional

3.0

In [38]:
num8 = 25
print(m.sqrt(num8))                       # square root

5.0

### Sys Module

In [41]:
import sys                                      # provides system related info

print(sys.version)                           #this is an attribute

3.7.3 (default, Mar 27 2019, 17:13:21) [MSC v.1915 64 bit (AMD64)]

In [42]:
print(sys.path)                        # tells the environment variable and path where python is

['C:\\Users\\Elitebook', 'D:\\ProgramData\\Anaconda3\\python37.zip', 'D:\\ProgramData\\Anaconda3\\DLLs', 'D:\\ProgramData\\Anaconda3\\lib', 'D:\\ProgramData\\Anaconda3', '', 'D:\\ProgramData\\Anaconda3\\lib\\site-packages', 'D:\\ProgramData\\Anaconda3\\lib\\site-packages\\win32', 'D:\\ProgramData\\Anaconda3\\lib\\site-packages\\win32\\lib', 'D:\\ProgramData\\Anaconda3\\lib\\site-packages\\Pythonwin', 'D:\\ProgramData\\Anaconda3\\lib\\site-packages\\IPython\\extensions', 'C:\\Users\\Elitebook\\.ipython']

In [43]:
sys.platform                          # tells the operating system

'win32'

In [45]:
sys.executable                                        # for python location

'D:\\ProgramData\\Anaconda3\\python.exe'

In [46]:
# standard output streama e.g  keyboard and monitor
temp =  sys.stdout                      # standard output

In [47]:
temp

In [ ]:
with open("test.txt", "w") as f:
    sys.stdout = f                       # makes the standard output to be f, makes output stream to be f
    print("AOA")
    sys.stdout = temp

# Command line arguments

## make a score.py file in the folder and out in it
'''
import os
print(sys.argv)
'''


you can give the parameter from command line
e.g in console
score.py
then score.py pakistan india

then in the same file

import sys

for i in sys.argv[1:]:
    print(i)
    
    
    
this give only the passed arguments

then in the same file

score = {'P':'11', 'I':'15', 'N':'11'}
for i in sys.argv[1:]:
    print(i, score())
    
then in console
python score.py P I N


to put this in a txt file
python score.py P I N > output.txt

# Pydoc (For Pyhton Documentaion)

In [50]:
import math
print(math.__doc__)                        #provides documentaion of the module
                                     # provides the multiline comments

This module is always available.  It provides access to the
mathematical functions defined by the C standard.

In [51]:
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module is always available.  It provides access to the
    mathematical functions defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(x, y, /)
        greatest common divisor of x and y

    hypot(x, y, /)
        Return the Euclidean distance, sqrt(x*x + y*y).

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    pow(x, y, /)
        Return x**y (x to the power of y).

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

In [52]:
def f():
    '''
    arguments : none
    return : a random number
    
    '''
    return r.random()

In [54]:
print(f.__doc__)

    arguments : none
    return : a random number

In [55]:
help(f)

Help on function f in module __main__:

f()
    arguments : none
    return : a random number

In [56]:
print(math.sqrt.__doc__)

Return the square root of x.

In [ ]:
for documentation on cmd

python -m pydoc math

# Formatting

In [62]:
x = 5
y = 2
print('value of x is %d %d' % (x, y))              # for integer

value of x is 5 2

In [64]:
x = 5
y = 2
print('value of x is %5d %d' % (x, y))              # for 5 spaces

value of x is     5 2

In [74]:
p = 5
print('value of p is %8f'  %p)

value of p is 5.000000

In [73]:
p = 5
print('value of p is %03d'  %p)

value of p is 005

In [75]:
x = 5
y = 4
print('value of x is {0:5d} {1:5d}'.format(x,y))           #format tells the order

value of x is     5     4

In [77]:
x = 'string'
y = '4'
print('value of x is {0:s} {1:s}'.format(x,y))           #format tells the order

value of x is string 4

In [79]:
m = "Hello World"

print(m.find("World"))
print(m.count("l"))

6
3

In [80]:
print(m.replace("Hello", "Hi"))         # creates a new string

Hi World

In [82]:
import datetime as t
t.datetime.now()

datetime.datetime(2019, 7, 21, 11, 7, 51, 933522)

In [88]:
date = t.datetime(1996, 3, 10)

In [89]:
date.strftime("%b")                 #this provides month

'Mar'

In [90]:
date.strftime("%B")

'March'

In [91]:
date.strftime("%A")

'Sunday'

In [92]:
date.strftime("%Y")

'1996'

In [93]:
date.strftime("%M")

'00'

In [94]:
date.strftime("%a")

'Sun'

In [95]:
date.strftime("%H")

'00'

In [96]:
date.year

1996

In [97]:
date.month

3

In [98]:
date.day

10

In [100]:
# to get your own format
date.strftime('%H, %M, %Y, %b, %d')

'00, 00, 1996, Mar, 10'

In [105]:
data = t.datetime(1996, 3, 10, 8, 45)

In [111]:
# to add some days
x = t.timedelta(days=100) + 100

TypeError: unsupported operand type(s) for +: 'datetime.timedelta' and 'int'

In [107]:
x.days

100

In [108]:
print(x)

100 days, 0:00:00

In [103]:
date.strftime('%H:%I, %p, %m, %S')

'00:12, AM, 03, 00'

#  28-july-19

#### anaconda also provides libraries

#### revising python crash course

In [117]:
for i in \                                        # backslash can be used for long multiline statements:
[1,2,3,4,5]:
    print (i, end = " ")
    for j in [1,2,3,4,5]:
        print(j, end = " , ")
        print(i + j ,end = " ")
    print(i)
print("done looping")

1 1 , 2 2 , 3 3 , 4 4 , 5 5 , 6 1
2 1 , 3 2 , 4 3 , 5 4 , 6 5 , 7 2
3 1 , 4 2 , 5 3 , 6 4 , 7 5 , 8 3
4 1 , 5 2 , 6 3 , 7 4 , 8 5 , 9 4
5 1 , 6 2 , 7 3 , 8 4 , 9 5 , 10 5
done looping

# methods to import module
import name
import name as x
from    # to import a function from the module

function returns a value, methos doesn't 
using a function name as a variable, function can call another function

In [ ]:
def apply(f):                  # f is an another function
    return(1)

#this is previously defined
my_double = double
x = apply(my_double)

# Lambda function

In [124]:
# lamba: one line function without name
lis = [1, 2, 3, 4, 5]

f1 = lambda x : x[::-1]
f1(lis)

[5, 4, 3, 2, 1]

In [125]:
f1('hello')

'olleh'

In [128]:
'''
default arguments
when no parameter is given. it will print the default argument
'''


len('\t')

1

In [129]:
len('\\')

1

In [130]:
print('\\')

\

In [133]:
len(r'\\')                       #raw strin ------> print as it is
# r is used to tell python not to consider te escape characters

2

In [ ]:
try   # doubt of error
except    # what to do if error come
finally     # always run
else           # runs if there is no error

In [137]:
lis = [1, 2, 3]
1 in lis

True

In [138]:
x = "hello"
y = "hello"
print(x is y)

True

In [139]:
x = [1, 2, 3]
y = [1, 2, 3]
x is y

False

### because llist is reference type and string is value type
#### is checks whether both are same or not

In [140]:
x = y
x is y

True

# unpacking a list or tuple

In [141]:
a, b, c = x
print('a', a)
print('b', b)
print('c', c)

a 1
b 2
c 3

In [142]:
# to skip one element
a, _, c = x
print('a', a)
#print('b', b)
print('c', c)

a 1
c 3

# to interchange variable value

In [143]:
a = 5
b = 10

a = a+b  #15
b = a-b    #5
a = a-b     #10

print(a, b)

10 5

In [144]:
x = 10
y = 15
x, y = y, x
print(x)
print(y)

15
10

In [146]:
x = 10
y = 15

x = x ^ y        #^ is XOR
y = x ^ y
x = x ^ y

print(x)
print(y)

15
10

### searching complexity
array = order of theta n   
list = theta 1
dictionary gives the searching result very fast because of key

In [148]:
# default dictionary
# creates the key if not present
from collections import defaultdict

In [149]:
x = defaultdict(int)

In [151]:
print(x.keys())

dict_keys(['asad'])

In [150]:
print(x['asad'])

0

In [152]:
x['ali'] = 100

In [153]:
print(x.keys())

dict_keys(['asad', 'ali'])

In [154]:
s = defaultdict(str)
print(s['apple'])

In [155]:
print(s.keys())

dict_keys(['apple'])

In [156]:
print(s['orange'])

In [157]:
print(s.keys())

dict_keys(['apple', 'orange'])

#  Counter

In [158]:
#counter
# returns a dictionary with number of repetitions
from collections import Counter

In [160]:
x = "Hello World"

In [161]:
c = Counter(x)

In [163]:
print(c)

Counter({'l': 3, 'o': 2, 'H': 1, 'e': 1, ' ': 1, 'W': 1, 'r': 1, 'd': 1})

In [164]:
c.most_common()

[('l', 3),
 ('o', 2),
 ('H', 1),
 ('e', 1),
 (' ', 1),
 ('W', 1),
 ('r', 1),
 ('d', 1)]

#  Set

In [165]:
# set doesnt repeat data
s = set()

In [166]:
s.add(2)

In [167]:
s.add(2)

In [168]:
print(s)

{2}

In [169]:
len(s)

1

# Sorting

In [173]:
x = sorted([-4, 2, -1, 3], key=abs, reverse=True)
x

[-4, 3, 2, -1]

In [176]:
sorted(c.items(), key = lambda (word, count): count, reverse=True)

SyntaxError: invalid syntax (<ipython-input-176-140642c446b2>, line 1)

# List Comprehension
writting a line for a list

In [177]:
even_numbers = [x for x in range(5) if x % 2 == 0]
even_numbers

[0, 2, 4]

In [178]:
odd_numbers = [x for x in range(5) if x % 2 == 1]
odd_numbers

[1, 3]

In [182]:
# off number pairs of two
a = [(x, y)for x in range(0, 11) for y in range(20, 31) if (x + y) % 2 == 1]
print(a)

[(0, 21), (0, 23), (0, 25), (0, 27), (0, 29), (1, 20), (1, 22), (1, 24), (1, 26), (1, 28), (1, 30), (2, 21), (2, 23), (2, 25), (2, 27), (2, 29), (3, 20), (3, 22), (3, 24), (3, 26), (3, 28), (3, 30), (4, 21), (4, 23), (4, 25), (4, 27), (4, 29), (5, 20), (5, 22), (5, 24), (5, 26), (5, 28), (5, 30), (6, 21), (6, 23), (6, 25), (6, 27), (6, 29), (7, 20), (7, 22), (7, 24), (7, 26), (7, 28), (7, 30), (8, 21), (8, 23), (8, 25), (8, 27), (8, 29), (9, 20), (9, 22), (9, 24), (9, 26), (9, 28), (9, 30), (10, 21), (10, 23), (10, 25), (10, 27), (10, 29)]

In [187]:
# tables from 2 to 10 
t = [(a*b) for a in range(1, 11) for b in range(1, 11)]
print(t)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 9, 18, 27, 36, 45, 54, 63, 72, 81, 90, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [190]:
p = [t[i*10: (i+1)*10] for i in range (0, 10)]
print(p)

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10], [2, 4, 6, 8, 10, 12, 14, 16, 18, 20], [3, 6, 9, 12, 15, 18, 21, 24, 27, 30], [4, 8, 12, 16, 20, 24, 28, 32, 36, 40], [5, 10, 15, 20, 25, 30, 35, 40, 45, 50], [6, 12, 18, 24, 30, 36, 42, 48, 54, 60], [7, 14, 21, 28, 35, 42, 49, 56, 63, 70], [8, 16, 24, 32, 40, 48, 56, 64, 72, 80], [9, 18, 27, 36, 45, 54, 63, 72, 81, 90], [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]]

In [192]:
p = [t[i*5: (i+1)*5] for i in range (0, 20)]
print(p)

[[1, 2, 3, 4, 5], [6, 7, 8, 9, 10], [2, 4, 6, 8, 10], [12, 14, 16, 18, 20], [3, 6, 9, 12, 15], [18, 21, 24, 27, 30], [4, 8, 12, 16, 20], [24, 28, 32, 36, 40], [5, 10, 15, 20, 25], [30, 35, 40, 45, 50], [6, 12, 18, 24, 30], [36, 42, 48, 54, 60], [7, 14, 21, 28, 35], [42, 49, 56, 63, 70], [8, 16, 24, 32, 40], [48, 56, 64, 72, 80], [9, 18, 27, 36, 45], [54, 63, 72, 81, 90], [10, 20, 30, 40, 50], [60, 70, 80, 90, 100]]

# 04-August-2019

In [1]:
# generator believes in lazy evaluation
x = range(1,100)
print(x)
#doesnt run untill needed

range(1, 100)

In [3]:
#runs when converted to list
x = list(range(1,100))
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [4]:
def f():
    for i in range(1,100000):
        return i 
    
f()

1

In [5]:
f()

1

In [17]:
def f():
    for i in range(1,100):
        yield i 
    
x = f()
print(next(x))

1

In [18]:
print(next(x))

2

In [109]:
def fun():
    yield 'Hello'
    yield 'World'

In [110]:
y = fun()
next(fun())

'Hello'

In [111]:
next(fun())

'Hello'

# Regular Expression

In [31]:
import re

In [33]:
a = re.match("he", "hello World")

In [34]:
a.end()

2

In [35]:
b = re.match("Pakistan", "hello world")

In [38]:
print(b)

None

In [118]:
b = re.search("oo", "helloo World")

In [119]:
print(b.group())

oo

# Functional Programming

In [64]:
def exp(base, power):
    return base ** power

In [65]:
def square(base):
    return exp(base, 2)

In [66]:
square(9)

81

In [68]:
from functools import partial

new_func = partial(exp, power = 2)

In [69]:
new_func(3)

9

In [70]:
new = partial(print, "Hello")
new()

Hello

In [71]:
print_wl = partial(print, end = '')

In [72]:
print_wl("Hello")
print_wl("World")

HelloWorld

# Map

In [74]:
x = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(x * 5)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [75]:
for y in x:
    print(y*5)

5
10
15
20
25
30
35
40
45

In [76]:
def mul(i):
    return i*5

In [78]:
for y in x:
    print(mul(y))

5
10
15
20
25
30
35
40
45

In [79]:
print(list(map(mul,x)))

[5, 10, 15, 20, 25, 30, 35, 40, 45]

In [83]:
y = [3.14/2, 3.14/3, 3.14/4]

from math import sin
list(map(sin, y))

[0.9999996829318346, 0.8657598394923444, 0.706825181105366]

In [84]:
def even(x):
    return x % 2 == 0

In [87]:
lis_num = [34, 54, 23, 67, 13, 89, 45, 33, 54, 232]
list(filter(even, lis_num))

[34, 54, 54, 232]

In [92]:
list_sum = [34, 54, 23, 57, 13, 89, 45, 33, 54, 232]

In [93]:
def sum(x, y):
    return x+y

In [95]:
from functools import reduce
reduce(sum, list_sum)

634

In [99]:
def concat(x, y):
    return str(x) + ":" +str(y)

In [100]:
from functools import reduce
reduce(concat, list_sum)

'34:54:23:57:13:89:45:33:54:232'

# enumerate

In [102]:
for i, e in enumerate(list_sum):
    print(i,e)

0 34
1 54
2 23
3 57
4 13
5 89
6 45
7 33
8 54
9 232

# zip

In [105]:
# this is also lazy
a = ['a', 'b', 'c', 'd']
b = [1,2,3,4]
c = [9,8,7,6]
list(zip(a,b))
list(zip(a,b,c))

[('a', 1, 9), ('b', 2, 8), ('c', 3, 7), ('d', 4, 6)]

In [ ]:
x, y = zip(*list_zip)

In [108]:
import re

line = "Cats are smarter than dogs"

matchObj = re.match (r' (.*) are (.*?) .*', line')
                
if  searchObj:
    print("searchObj.group(): ", searchObj.group())
    print("searchObj.group(1): ", searchObj.group(1))
    print("searchObj.group(2): ", searchObj.group(2)
else:
    print("No Match")

SyntaxError: EOL while scanning string literal (<ipython-input-108-1f1efc046bed>, line 5)